In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import pandas as pd 
from sklearn.feature_selection import VarianceThreshold
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import r2_score,mean_squared_error,mean_squared_log_error
from math import sqrt
from keras.callbacks import ModelCheckpoint
from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten,Dropout 
from matplotlib import pyplot as plt
import seaborn as sb
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore', category=DeprecationWarning)

In [0]:

import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt

In [0]:
train = pd.read_csv("/content/gdrive/My Drive/American Express /train.csv")
test = pd.read_csv("/content/gdrive/My Drive/American Express /test.csv")

In [0]:
train_data =  train.copy()
test_data = test.copy()

In [0]:
id1 = test_data['id']

In [0]:
y = train_data['cc_cons']

In [0]:
len_train=len(train_data)
len_test=len(test_data)

In [0]:
train_data = train_data.drop(['cc_cons'],1)

In [0]:
data = pd.concat([train_data,test_data],axis=0)

In [0]:
data.shape

(46887, 43)

In [0]:
data.isnull().sum()

id                           0
account_type                 0
gender                       0
age                          0
region_code                  0
cc_cons_apr                  0
dc_cons_apr              27282
cc_cons_may                  0
dc_cons_may              24714
cc_cons_jun                  0
dc_cons_jun              30361
cc_count_apr              3437
cc_count_may              1695
cc_count_jun              2224
dc_count_apr             27282
dc_count_may             24714
dc_count_jun             22049
card_lim                    12
personal_loan_active     43011
vehicle_loan_active      45686
personal_loan_closed     42745
vehicle_loan_closed      44581
investment_1             44811
investment_2             43522
investment_3             44941
investment_4             46308
debit_amount_apr          2737
credit_amount_apr         4767
debit_count_apr           2546
credit_count_apr          2546
max_credit_amount_apr     4767
debit_amount_may          3302
credit_amount_may         4900
credit_count_may          2968
debit_count_may           2968
max_credit_amount_may     4900
debit_amount_jun          3140
credit_amount_jun         2206
credit_count_jun          2183
debit_count_jun           2183
max_credit_amount_jun     2206
loan_enq                 46032
emi_active                   0
dtype: int64

In [0]:
data = data.drop(['dc_cons_apr','dc_cons_may','dc_cons_jun','dc_count_apr','dc_count_may','dc_count_jun','personal_loan_active','vehicle_loan_active','personal_loan_closed','vehicle_loan_closed','investment_1','investment_2','investment_3','investment_4','loan_enq'],axis=1)

In [0]:
data.shape

(46887, 28)

In [0]:
data.isnull().sum()

id                          0
account_type                0
gender                      0
age                         0
region_code                 0
cc_cons_apr                 0
cc_cons_may                 0
cc_cons_jun                 0
cc_count_apr             3437
cc_count_may             1695
cc_count_jun             2224
card_lim                   12
debit_amount_apr         2737
credit_amount_apr        4767
debit_count_apr          2546
credit_count_apr         2546
max_credit_amount_apr    4767
debit_amount_may         3302
credit_amount_may        4900
credit_count_may         2968
debit_count_may          2968
max_credit_amount_may    4900
debit_amount_jun         3140
credit_amount_jun        2206
credit_count_jun         2183
debit_count_jun          2183
max_credit_amount_jun    2206
emi_active                  0
dtype: int64

In [0]:
def mean_data(x):
  data[x]=data[x].fillna(data[x].mean())

def mode_data(x):
  data[x]=data[x].fillna(int(data[x].mode()))

In [0]:
mean_data('debit_amount_apr')
mean_data('credit_amount_apr')
mean_data('max_credit_amount_apr')
mean_data('debit_amount_may')
mean_data('credit_amount_may')
mean_data('max_credit_amount_may')
mean_data('debit_amount_jun')
mean_data('credit_amount_jun')
mean_data('max_credit_amount_jun')

In [0]:
mode_data('cc_count_apr')
mode_data('cc_count_may')
mode_data('cc_count_jun')
mode_data('card_lim')
mode_data('debit_count_apr')
mode_data('credit_count_apr')
mode_data('credit_count_may')
mode_data('debit_count_may')
mode_data('credit_count_jun')
mode_data('debit_count_jun')

In [0]:
def out(x):
  data.boxplot(column = [x],return_type='axes')
  Q1 = data[x].quantile(0.25)
  Q3 = data[x].quantile(0.75)
  IQR = Q3 - Q1
  print(IQR)
  max1=Q3+1.5*IQR
  min1=Q1-1.5*IQR
  data.loc[data1[x]>max1,[x]]=max1
  data.loc[data1[x]<min1,[x]]=min1
  data.boxplot(column = [x],return_type='axes')

In [0]:
data.isnull().sum()

In [0]:
data1 = data.copy()

In [0]:
data1 = data1.drop(['id'],axis=1)

In [0]:
c = data1.columns

In [0]:
c=c[2:]

In [0]:
c

In [0]:
 
for i in range(len(c)):
  out(c[i])

In [0]:
data1.head(4)

In [0]:
train_data_final = data1[:len_train]

In [0]:
train_data_final.tail(4)

      account_type gender  ...  max_credit_amount_jun  emi_active
32816      current      M  ...                16403.0     3702.50
32817      current      M  ...                16870.0        0.00
32818      current      M  ...                19087.0     1716.37
32819      current      M  ...                16964.0        0.00

[4 rows x 27 columns]

In [0]:
test_data_final = data1[len_train:]

In [0]:
test_data_final.head(4)

  account_type gender  age  ...  debit_count_jun  max_credit_amount_jun  emi_active
0       saving      M   36  ...              8.0            5000.000000        0.00
1      current      M   31  ...              9.0           44012.074537        0.00
2      current      M   26  ...             15.0           29352.000000     2885.82
3      current      M   39  ...             11.0           32696.000000        0.00

[4 rows x 27 columns]

In [0]:
len(train_data_final),len(y)

(32820, 32820)

In [0]:
scaler=StandardScaler()

In [0]:
numerical_data=train_data_final.select_dtypes(include=np.number)
cols = numerical_data.columns
numerical_data=scaler.fit_transform(numerical_data)
numerical_data = pd.DataFrame(numerical_data,columns=cols)

In [0]:
le = preprocessing.LabelEncoder()

In [0]:
categorical_data = train_data_final.select_dtypes(include=np.object)
categorical_data['account_type']=le.fit_transform(categorical_data['account_type'])
categorical_data['gender']=le.fit_transform(categorical_data['gender'])

In [0]:
train_data_final = pd.concat([numerical_data,categorical_data],axis=1)

In [0]:
train_data_final.head(5)

In [0]:
X_train, X_test, y_train, y_test = tts(train_data_final,y,test_size=0.3,random_state=0)
X_train.shape, X_test.shape

((22974, 27), (9846, 27))

In [0]:
NN_model = Sequential()

# The Input Layer :
NN_model.add(Dense(512, kernel_initializer='normal',input_dim = X_train.shape[1], activation='relu'))

# The Hidden Layers :
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))
# The Output Layer :
NN_model.add(Dense(1, kernel_initializer='normal',activation='linear'))

# Compile the network :
NN_model.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])
NN_model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_94 (Dense)             (None, 512)               14336
_________________________________________________________________
dense_95 (Dense)             (None, 256)               131328
_________________________________________________________________
dense_96 (Dense)             (None, 256)               65792
_________________________________________________________________
dense_97 (Dense)             (None, 256)               65792
_________________________________________________________________
dense_98 (Dense)             (None, 256)               65792
_________________________________________________________________
dense_99 (Dense)             (None, 1)                 257
=================================================================
Total params: 343,297
Trainable params: 343,297
Non-trainable params: 0
_________________________________________________________________

In [0]:
checkpoint_name = 'Weights-{epoch:03d}--{val_loss:.5f}.hdf5' 
checkpoint = ModelCheckpoint(checkpoint_name, monitor='val_loss', verbose = 3, save_best_only = True, mode ='auto')
callbacks_list = [checkpoint]

In [0]:
NN_model.fit(X_train, y_train, epochs=50, batch_size=16, validation_split = 0.2, callbacks=callbacks_list)

In [0]:
wights_file = '/content/Weights-010--4980.93799.hdf5' # choose the best checkpoint 
NN_model.load_weights(wights_file) # load it
NN_model.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])

In [0]:
pred = NN_model.predict(X_test)

In [0]:
r2_score(y_test,pred)

0.14916936980189088

In [0]:
mean_squared_error(y_test,pred)

133832649.96336931

In [0]:
sqrt(mean_squared_log_error(y_test,pred))*100

118.81738625736197

In [0]:

def make_submission(prediction, sub_name):
  my_submission = pd.DataFrame({'Id':pd.read_csv('test.csv').Id,'SalePrice':prediction})
  my_submission.to_csv('{}.csv'.format(sub_name),index=False)
  print('A submission file has been made')

predictions = NN_model.predict(test)
make_submission(predictions[:,0],'submission(NN).csv')